<div class="gp_sidebar" id="j_sidebar">
  <div class="inner">
  <!--   <p>
      <%= @vol.show.name %> - <%= @vol.title %>
    </p> -->
    <ul class="g_sideNav list-unstyled">
      <% @vol.show.volumes.each do |v| %>
        <%= nav_link "#{v.show_no} #{v.title}", volume_url(v) %>
      <% end %>
    </ul>
  </div>
</div>