<div class="ph_introsite ph_introsite-head">
  <div class="ph_introsite_bdmask"></div>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="ph_intr">
          <h1>这里是G-cores非官方粉丝站</h1>
          <p>目前只支持一些资料查询和在线收听功能。</p>

          <table>
            <tr>
              <th>
                <a href="http://www.g-cores.com" target="_blank" class="btn btn-sm btn-primary">
                  <span class="glyphicon glyphicon-home"></span> 机核网
                </a> 
              </th>
              <td>
                可访问机核官方站 
              </td>
            </tr>

            <tr>
              <th>
                <a href="http://weibo.com/gamecore" target="_blank" class="btn btn-sm btn-success">
                  <span class="glyphicon glyphicon-user"></span> 机核网微博
                </a>
              </th>
              <td>
                关注机核最新动态 
              </td>
            </tr>

            <tr>
              <th>
                <%= link_to shows_url, target: "_blank", class: "btn btn-sm btn-danger" do %>
                  <span class="glyphicon glyphicon-user"></span> 收听节目
                <% end %>
              </th>
              <td>
                查看目前本站收录的节目 
              </td>
            </tr>

            <tr>
              <th>
                <span class="btn btn-sm btn-default" style="background: #333;">QQ群</span>
              </th>
              <td>
                112816808(机核网)、328250398(一起来lu二次元)
              </td>
            </tr>

            <tr>
              <th>
                <span class="btn btn-sm btn-default" style="background: #333;">YY直播</span>
              </th>
              <td>
                39488600
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>