<div class="ph_introsite ph_introsite-intro">
  <div class="container">

    <div class="row">
      <div class="col-sm-9">
        <h2>关于机核网</h2>
        <p style="color:#b3b3b3;">
          “最新鲜热辣的游戏资讯，最猥琐私密的玩家心声，欢迎收听最专业的游戏广播电台。”
        </p>
        <p>
          机核网是以广播为主的游戏动漫资讯站，目前包含GADIO、一起来lu二次元等广播节目。 <br>
          其旗下广播是世界上最不靠谱的广播电台，在这里你可以听到最搞笑的游戏经历、最扯蛋的业界观点。 <br>
          机核网的节目会每周更新，但会经常跳票。如果你想关注他们，领略游戏带给你的快乐。以下是他们的收听方式:
        </p>
        <p>
          <strong>ios</strong> <br>
          1.苹果官方 app podcast 中搜索GADIO并订阅。<br>
          2.在App Store里搜索并下载“糖蒜广播”app进行收听。<br>
          3.在App Store里搜索并下载“爱听fm”app进行收听。<br>
        </p>
        <p>
          <strong>android</strong> <br>
          下载“爱听fm”app进行收听。
        </p>
        <p>
          <strong>windows phone</strong> <br>
          商店搜索podcasts!软件，添加feed链接 <a href="http://www.tangsuanradio.com/blog/category/gadio/feed/">http://www.tangsuanradio.com/blog/category/gadio/feed/</a> 即可收听。
        </p>
      </div>
      <div class="col-sm-3">
        <p class="lead">桌面收听平台</p>
        <ul class="ph_radioapps">
          <li>
            <a href="http://www.g-cores.com" target="_blank">机核本站</a>
          </li>
          <li>
            <a href="http://www.tangsuanradio.com" target="_blank">糖蒜广播</a>
          </li>
          <li>
            <a href="http://music.weibo.com/gamecore" target="_blank">新浪音乐人</a>
          </li>
          <li>
            <a href="http://itunes.apple.com/cn/podcast/id420660752" target="_blank">Podcast</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>