<% content_for :wrapper_before do %>
  <div class="ph_introsite">
    <div class="container">
      <div class="ph_introsite_inner">
        <h1>这里是G-cores非官方粉丝站</h1>
        <p>目前只支持一些资料查询和在线收听功能。</p>
        <p> 
          <a href="http://www.g-cores.com" target="_blank" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-home"></span> 机核网
          </a> 可访问机核官方站 
        </p>
        <p> 
          <a href="http://weibo.com/gamecore" target="_blank" class="btn btn-sm btn-success">
            <span class="glyphicon glyphicon-user"></span> 机核网微博
          </a> 关注机核最新动态
        </p>
        <p> 
          <%= link_to shows_url, target: "_blank", class: "btn btn-sm btn-danger" do %>
            <span class="glyphicon glyphicon-user"></span> 收听节目
          <% end %> 查看目前本站收录的节目
        </p>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :stylesheets do %>
  <style type="text/css">
    .ph_introsite h1 {
      margin-bottom: 25px;
    }
    .ph_introsite p {
      color: #888;
    }
    .ph_introsite_inner {
      padding: 30px 0 10px 20px;
    }
  </style>
<% end %>
