<% if object.errors.any? %>
  <div class="alert alert-danger">
    <p>
      <em>提交失败，包含以下 <%= object.errors.count %> 个错误。</em>
    </p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>