.g_tags {
  $countBtnW: 15px;
  $btnH: 22px;
  @mixin labelSkin($bg, $text, $hover, $hoverBg, $countBg) {
    background: $bg;
    .label {
      border: 1px solid $bg;
      color: $text;
      &:hover {
        color: $hover;
        background: $hoverBg;
      }
    }
    .g_tag_addCount {
      &:hover {
        background: $countBg;
      }
    }
  }

  overflow: hidden;
  padding: 3px 0 8px;
  .form-inline .form-control {
    display: inline-block !important;
    width: auto !important;
    vertical-align: middle !important;
  }
  .label {
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    height: $btnH;
    line-height: $btnH;
  }
  .g_tag_addBtn, .g_tags_item {
    margin: 4px 10px 4px 0;
  }

  .g_tags_item {
    // @include labelSkin(#bebebe, #aaa, $gGray, $gAboutWhite, $gGrayS);
    @include labelSkin(#7bccc4, #7bccc4, #4eb3d3, #fff, #4eb3d3); // 4 level

    position: relative;
    float: left;
    padding-left: $countBtnW;
    .label {
      background: #fff;
      line-height: ($btnH - 2);
      border-radius: 0;
      &:hover {
      }
    }
    .g_tag_addCount {
      position: absolute;
      left: 0;
      width: $countBtnW;
      height: $btnH;
      line-height: $btnH;
      color: #fff;
      text-align: center;
      b {
        display: none;
      }
      &:hover {
        b {
          display: inline;
        }
        text-decoration: none;
      }
    }
  }
  // .g_tags_item-0 { @include labelSkin(#0868ac, #0868ac, #084081, #fff, #084081); }
  .g_tags_item-0 { @include labelSkin(#2b8cbe, #2b8cbe, #0868ac, #fff, #0868ac); }
  .g_tags_item-1 { @include labelSkin(#2b8cbe, #2b8cbe, #0868ac, #fff, #0868ac); }
  .g_tags_item-2 { @include labelSkin(#2b8cbe, #2b8cbe, #0868ac, #fff, #0868ac); }
  .g_tags_item-3 { @include labelSkin(#4eb3d3, #4eb3d3, #2b8cbe, #fff, #2b8cbe); }
  .g_tags_item-4 { @include labelSkin(#4eb3d3, #4eb3d3, #2b8cbe, #fff, #2b8cbe); }
  .g_tags_item-5 { @include labelSkin(#4eb3d3, #4eb3d3, #2b8cbe, #fff, #2b8cbe); }
  .g_tags_item-6 { @include labelSkin(#7bccc4, #7bccc4, #4eb3d3, #fff, #4eb3d3); }
  .g_tags_item-7 { @include labelSkin(#7bccc4, #7bccc4, #4eb3d3, #fff, #4eb3d3); }
  .g_tags_item-8 { @include labelSkin(#7bccc4, #7bccc4, #4eb3d3, #fff, #4eb3d3); }
  // .g_tags_item- { @include labelSkin(#a8ddb5, #a8ddb5, #7bccc4, #fff, #7bccc4); }
  // .g_tags_item- { @include labelSkin(#ccebc5, #ccebc5, #a8ddb5, #fff, #a8ddb5); }
  // .g_tags_item- { @include labelSkin(#e0f3db, #e0f3db, #ccebc5, #fff, #ccebc5); }
  // .g_tags_item- { @include labelSkin(#f7fcf0, #f7fcf0, #e0f3db, #fff, #e0f3db); }
}

.g_sideNav {
  padding: 10px 0;
  border-right: 1px solid $gGraySS;
  text-align: right;
  a {
    display: block;
    color: $gGray;
    padding: 5px 25px 5px 0;
    transition: all .1s ease 0;
    &:hover {
      color: $gGrayS;
      padding-right: 15px;
      text-decoration: none;
    }
  }
  li.active a {
    border-right: 3px solid $gGraySS;
    padding: 0 10px 0 0;
    margin: 5px 0;
    // font-weight: bold;
    color: #000;
  }
}

@media screen and (max-width: 768px) {
  .row {
    .g_sideNav {
      border-right: none;
      border-left: 1px solid $gGraySS;
      text-align: left;
      a {
        display: block;
        color: $gGray;
        padding: 5px 0 5px 25px;
        transition: all .1s ease 0;
        &:hover {
          color: $gGrayS;
          padding-left: 15px;
          text-decoration: none;
        }
      }
      li.active a {
        border-right: none;
        border-left: 3px solid $gGray;
        padding: 0 0 0 10px;
        margin: 5px 0;
        font-weight: bold;
        color: $gBlack;
      }
    }
  }
}