.g_tags {
  $countBtnW: 15px;
  $btnH: 22px;
  @mixin labelSkin($bg, $text, $hover, $hoverBg, $countBg) {
    background: $bg;
    .label {
      border: 1px solid $bg;
      color: $text;
      &:hover {
        color: $hover;
        background: $hoverBg;
      }
    }
    .g_tag_addCount {
      &:hover {
        background: $countBg;
      }
    }
  }

  overflow: hidden;
  padding: 10px 0;
  .form-inline .form-control {
    display: inline-block !important;
    width: auto !important;
    vertical-align: middle !important;
  }
  .label {
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    height: $btnH;
    line-height: $btnH;
  }
  .g_tag_addBtn, .g_tags_item {
    margin: 4px 10px 4px 0;
  }

  .g_tags_item {
    @include labelSkin($gBlackLight, $gGrayS, $gGray, $gAboutWhite, $gGrayS);

    position: relative;
    float: left;
    padding-left: $countBtnW;
    .label {
      background: #fff;
      line-height: ($btnH - 2);
      border-radius: 0;
      &:hover {
      }
    }
    .g_tag_addCount {
      position: absolute;
      left: 0;
      width: $countBtnW;
      height: $btnH;
      line-height: $btnH;
      color: #fff;
      text-align: center;
      b {
        display: none;
      }
      &:hover {
        b {
          display: inline;
        }
        text-decoration: none;
      }
    }
  }
  // .g_tags_item-0 { @include labelSkin(#2066CA, #2066CA, #fff, #2066CA, #2082CA); }
  // .g_tags_item-0 { @include labelSkin($bg, $text, $hover, $hoverBg, $countBg); }
  // .g_tags_item-0 { @include labelSkin($bg, $text, $hover, $hoverBg, $countBg); }
  // .g_tags_item-0 { @include labelSkin($bg, $text, $hover, $hoverBg, $countBg); }
  // .g_tags_item-0 { @include labelSkin($bg, $text, $hover, $hoverBg, $countBg); }
  // .g_tags_item-0 { @include labelSkin($bg, $text, $hover, $hoverBg, $countBg); }
}

.g_sideNav {
  padding: 10px 0;
  border-right: 1px solid $gGraySS;
  text-align: right;
  a {
    display: block;
    color: $gGray;
    padding: 5px 25px 5px 0;
    transition: all .1s ease 0;
    &:hover {
      color: $gGrayS;
      padding-right: 15px;
      text-decoration: none;
    }
  }
  li.active a {
    border-right: 3px solid $gGraySS;
    padding: 0 10px 0 0;
    margin: 5px 0;
    font-weight: bold;
    color: $gBlack;
  }
}

@media screen and (max-width: 768px) {
  .row {
    .g_sideNav {
      border-right: none;
      border-left: 1px solid $gGraySS;
      text-align: left;
      a {
        display: block;
        color: $gGray;
        padding: 5px 0 5px 25px;
        transition: all .1s ease 0;
        &:hover {
          color: $gGrayS;
          padding-left: 15px;
          text-decoration: none;
        }
      }
      li.active a {
        border-right: none;
        border-left: 3px solid $gGray;
        padding: 0 0 0 10px;
        margin: 5px 0;
        font-weight: bold;
        color: $gBlack;
      }
    }
  }
}