<header class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#t_navbarCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 
      <%= link_to "g-cores fan club 后台", console_shows_url, class: "navbar-brand" %>
    </div>

    <nav class="collapse navbar-collapse" role="navigation" id="t_navbarCollapse">
      <% if current_staff? %>
        <p class="navbar-text">id: <%= current_staff.name %></p>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if current_staff? %>
          <li>
            <%= link_to "登出", console_signout_url, method: :delete %>
          </li>
        <% end %>
        <li>
          <%= link_to "回到主站", root_url, target: "_blank" %>
        </li>
      </ul>
    </nav>
  </div>
</header>